* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f2f2f2;
}

/* Barra superior */
header {
    background-color: #ff7a00;
    height: 150px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

/* Logo */
header img {
    height: 300px;
}

/* Área do conteúdo */
main {
    background-color: #ffffff;
    margin-top: 10px;
}

/* Título */
h1 {
    font-size: 24px;
    font-weight: bold;
    padding: 15px;
    color: #003b3f;
    border-bottom: 1px solid #ddd;
}

/* Saldo */
p {
    padding: 15px;
    font-size: 18px;
    color: #000;
}

/* Linha verde inferior */
.linha-verde {
    height: 3px;
    background-color: #00a859;
    width: 100%;
}
