
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: #ff7a00;
    height: 100vh; /* O body deve ter a altura total da tela */
    margin: 0;
    display: flex;
    flex-direction: column; /* Coloca os elementos um abaixo do outro */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
  }


/* Logo */
.logo img {
    width: 600px;
    margin-bottom: 20px;
   
  
}

.campo {
    margin-bottom: 15px;
}

/* Labels */
label {
    color: #000;
    font-size: 14px;
}

/* Inputs */
.form-control {
    width: 260px;
    height: 40px;
    border-radius: 8px;
    border: none;
    margin-top: 6px;
    font-size: 16px;
    padding: 0 10px;
}

/* Botão */
button.form-control {
    background-color: #fff;
    color: #ff7a00;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

/* Hover do botão */
button.form-control:hover {
    background-color: #f2f2f2;
}

/* Efeito ao clicar no input */
input:focus {
    outline: 2px solid #fff;
}
