* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    min-height: 100vh;
    background-color: #ff7c39;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    text-align: center;
    
}

.Usuario, .Senha {
    margin-bottom: 25px;
}

.Usuario label,
.Senha label {
    font-size: 30px;
    display: block;
    margin-bottom: 8px;
    color: #000;
    border-radius: 10px;
    
}

#Usuario {
    width: 200px;
    height: 50px;
    font-size: 30px;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
} 

#Senha {
    width: 200px;
    height: 50px;
    font-size: 30px;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;

}

button {
    width: 200px;
    height: 50px;
    font-size: 30;
    font-weight: bold;
    background-color: #fff;
    color: #ff7a2f;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}    

    .login button:hover {
        background-color: #f2f2f2;

    }

