* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    min-height: 100vh;
    background-color: #ff7c39;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    text-align: center;
    
}

.usuario {
    width: 200px;
    height: 46px;
    font-size: 18px;
    font-weight: bold;

}

.login button {
        width: 300px;
        height: 46px;
        font-size: 20px;
        font-weight: bold;
        background-color: #fff;
        color: #ff7a2f;
        border: none;
        border-radius: 6px;
        cursor: pointer;
    }
    
    .login button:hover {
        background-color: #f2f2f2;

    }

